jupyter
notebook
ipykernel
numpy
pandas
matplotlib
seaborn
scipy
scikit-learn
statsmodels
plotly
requests
python-dotenv
bayesian-optimization
lightgbm>=4.6.0
catboost
ydata-profiling
pydotplus
graphviz
nbconvert
ipywidgets
